.results-and-item-wrapper {
  background-color: var(--search-background);
  display: flex;
}
.results-wrapper {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--results-background);
}
