.pagination {
  width: 70%;
  height: 1.6em;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.current-page {
  width: 25%;
  color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  width: 30%;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  background-color: var(--button-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}
