.pagination {
  width: 100%;
  height: 2em;
  font-size: 1.3em;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.pagination-next,
.pagination-prev {
  width: 30%;
  border: 1px solid var(--button-color);
  background-color: var(--button-background);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-next:hover,
.pagination-prev:hover {
  cursor: pointer;
  background-color: white;
}
