.error-button {
  padding: 1em;
  height: 50px;
  margin: 1em;
  background-color: var(--button-background);
  color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 1em;
}

.error-button:hover {
  background-color: var(--button-hover);
  color: var(--white);
}
