.results-item {
  width: 33%;
  min-height: 200px;
  margin: 2em;
  padding: 1em;
  background-color: var(--input-hover);
  font-size: 1.4em;
  border-radius: 0.7em;
  box-shadow: 9px 5px 35px var(--item-shadow);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-item:hover {
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: -1px 20px 35px rgb(87, 2, 30);
}

.item-name,
.item-url,
.item-species {
  color: var(--button);
  margin: 0.2em;
}

.item-name {
  font-weight: 700;
  text-transform: capitalize;
}
.item-url {
  font-size: 0.7em;
}

.item-image {
  margin: 1em;
  max-width: 70%;
  max-height: 50%;
}
