.results-item {
  width: 30%;
  max-height: 100px;
  margin: 2em;
  padding: 1em;
  background-color: var(--input-hover);
  font-size: 1.4em;
  border-radius: 0.7em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item-name,
.item-url {
  color: var(--button);
}

.item-name {
  font-weight: 700;
  text-transform: capitalize;
}
.item-url {
  font-size: 0.7em;
}
